@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<form asp-action="CreateReview" method="post">
    <div class="form-group">
        <label for="comment">@Localizer["Comment"]:</label>
        <input id="comment" name="comment" type="text" required />
    </div>
    <button type="submit">@Localizer["Submit"]</button>
</form>

