<form asp-action="CreateReview" method="post">
    <div class="form-group">
        <label for="comment">Comment:</label>
        <input id="comment" name="comment" type="text" required />
    </div>
    <button type="submit">Submit</button>
</form>
<form asp-action="OrderHistory" asp-controller="Order" method="get">
	<button type="submit" class="btn btn-warning">Skip</button>
</form>
