@model IEnumerable<PizzaShop.WebUI.Models.PizzaViewModel>
@{
	ViewData["Title"] = "Index";
}

<h1>Pizzas</h1>
<div>
	<div class="btn-group" role="group">
		<button value="Seafood" type="button" class="btn btn-secondary" onclick="categoryFilter(this.value)">Seafood</button>
		<button value="Meat" type="button" class="btn btn-secondary" onclick="categoryFilter(this.value)">Meat</button>
		<button value="Vegetable" type="button" class="btn btn-secondary" onclick="categoryFilter(this.value)">Vegetable</button>
		<button value="Cheese" type="button" class="btn btn-secondary" onclick="categoryFilter(this.value)">Cheese</button>
	</div>
	<div id="pizzaList">
		@await Html.PartialAsync("_PizzaList", Model)
	</div>

</div>

<script>
	function categoryFilter(category) {
		$.ajax({
			url: "/Pizza/Index?category=" + category,
			type: "GET",
			contentType: 'application/json',
			success: function(response) {
				$('#pizzaList').html(response);
			},
			error: function(XMLHttpRequest, textStatus, errorThrown) {
				alert("Error");
			}
		});
	}
</script>
