@model IEnumerable<PizzaShop.WebUI.Models.PizzaViewModel>
@{
	ViewData["Title"] = "Home Page";
}

<h2>Most popular pizza</h2>
<p>Slider with most popular pizza</>
<h2>Customer reviews</h2>
<p>Slider with Customer reviews</>

